
body{
  background-color: rgb(230, 229, 229);
}

.top-bar{
  background-color: rgb(116, 0, 89);
  position: fixed;
  z-index: 1;
  height: 60px;
  border-radius: 2px;
  margin-top: -125px;
  margin-left: -20px;
  width: 100%;
}
.user-profile {
width: 100%;
max-width: 600px; 
margin-top: 100px;
padding: 20px;
}

.display-img{
display: flex;
justify-content: center;
}
.edit-profile-section {
display: flex;
flex-direction: column; 
}

.edit-profile-section div {
display: flex;
justify-content: flex-start; 
margin-bottom: 30px; 
}

.edit-profile-section label {
width: 150px; 
text-align: left;
font-size: 18px;
margin-right: 10px;
}

.edit-profile-section input,
.edit-profile-section select,
.edit-profile-section textarea {
flex-grow: 1; 
padding: 8px;
border-radius: 5px;
border: 2px solid black;
box-sizing: border-box; 
width: 100%; 
}

.profile-preferences label {
font-size: 18px;
}


.apply-button{
  margin-left: 85%;
  margin-bottom:300px;
  transform: translateY(-40px);
}

.edit-button button{
  padding: 8px 16px;
  background-color: #8c007e;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.apply-button button{
  padding: 8px 16px;
  background-color: #8c007e;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #6c005a;
}


.edit-button{
  display: flex;
  justify-content: center;
  transform: translateY(-160px)

}

.user-display{
  margin-top: 2px;
  margin-left: 20px;
  font-size: 18px;
}
.display-section {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  margin-bottom: 35px; 
  transform: translate(50px,-20px);
}

.display-section p {
  color: rgba(64, 64, 64, 0.841);
  margin: 6px;
  flex:10px;
}

.display-section label {
  font-weight: bold;
}


.display-city-value, 
.display-skills-value, 
.display-preferences-value {
display: flex;
gap: 1px; 
}

.upcoming-event-display{
  font-size: 20px;
  display: flex;
  justify-content: right;
  transform: translate(-95px,5px);
}

.volunteer-section1{
  width: 190px;
  height: auto;
  display: flex;
  transform: translate(490px,-380px);
}
.volunteer-section2{
  width: 190px;
  height: auto;
  display: flex;
  transform: translate(490px,-370px);
}

.user-display-fieldset{
  margin:auto;
  transform: translateY(-100px);
  width:800px;
  height: 650px;
}

.user-display-fieldset legend{

  display:"flex";
  justify-content: "center";
}