.dropDownNotifProfile
{
    position:absolute;
    top:3.5rem;
    right: 3.5rem;
    width:120px;
    padding:15px;

}

.dropDownNotifProfile::before{
    content:"";
    position:absolute;
    top:-2rem;
    
    width:25px;
    height:25px;

}