.description {
    overflow-wrap: break-word;
  
    word-wrap: break-word;
      max-height: 6em;
     overflow: hidden;
    text-overflow: ellipsis;
  
}

.hr-line {
    border-top: 1px solid #000;
   
}